/*--------------------------------------*/
/* Global stylings */
/*--------------------------------------*/

html {
	--color-text:  #818196;
    --color-gray: #B4B4B4;
    --color-repo: #64d6d3;
    --color-dark: #2D2D2D;
    --color-background: #f7f7f7;
    --color-gradient: linear-gradient(to right, var(--color-dark), var(--color-repo), var(--color-dark)) 1;
}

body {
	font-family: "Inter";
	font-optical-sizing: auto;
	font-size: 10px;
	font-weight: 300;
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*--------------------------------------*/
/* Tooltip */
/*--------------------------------------*/
 
.tooltip {
	font-family: "Inter";
	background-color: var(--color-background);
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	padding: 1em 1em 0.8em 1em;
	padding-top: 1.5em; 
	max-width: 280px;
	color: var(--color-text);
	pointer-events: none;
	font-size: 1em;
	line-height: 1.5em;
	position: relative;
	background-clip: padding-box;
	opacity: 1;
  }
  
  .tooltip-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.9em;
  }
  
  .tooltip-title {
	font-size: 1.3em;
	font-weight: 700;
	color: var(--color-dark);
	margin-top: 0.2em;
  }
  
  .tooltip-section {
	display: flex;
	flex-direction: column;
  }
  
  .tooltip-label {
	font-weight: 600;
	font-size: 1em;
	font-style: italic;
	color: var(--color-gray);
	margin-bottom: 0.2em;
  }
  
  .tooltip-value {
	font-size: 1em;
	color: var(--color-text);
  }
  
/*--------------------------------------*/
/* Chart stylings */
/*--------------------------------------*/

.container {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	height: auto;
	min-height: calc(100% - 40px);
}

.text1 {
	position: absolute;
	width: 452px;
	height: 326px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 40px;
	fill: var(--color-text);
}

/*--------------------------------------*/
/* Axes stylings */
/*--------------------------------------*/

.y-axis text {
	position: absolute;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 40px;
	fill: var(--color-text);
}

.x-axis,
.y-axis path {
	stroke-width: 0;
	stroke-opacity: 0;
	stroke: white;
}

.x-axis line {
	fill: none;
	stroke-width: 0.5;
	stroke-opacity: 0.5;
	stroke: white;
}

.y-axis line {
	stroke-width: 0.1;
	stroke-opacity: 1;
	stroke: white;
}












